<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS CRUD</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5 d-flex justify-content-center">

    <div class="card p-4 w-50 shadow-lg rounded-4">

        <h1 class="text-center mb-4">Student List</h1>

        <ul class="list-unstyled">
            <% studentList.forEach((s)=>{ %>

                <li class="d-flex justify-content-between align-items-center mb-3">

                    <span><%= s.name %></span>

                    <div>
                        <a href="/edit/<%= s.id %>" class="btn  btn-outline-success">
                            Edit
                        </a>

                        <form action="/delete/<%= s.id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn  btn-outline-danger">
                                Delete
                            </button>
                        </form>
                    </div>

                </li>

            <% }) %>
        </ul>

        <div class="text-center mt-3">
            <a href="/add" class="btn btn-outline-info">
                Add Student
            </a>
        </div>

    </div>

</div>

</body>
</html>